<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<header th:fragment="header" class="topbar">

    <div class="brand">
        <a th:href="@{/}">
            UTEShop
        </a>
    </div>

    <nav>
        <a th:href="@{/}">Trang chủ</a>
        <a th:href="@{/categories}">Danh mục</a>
        <a th:href="@{/products}">Sản phẩm</a>
    </nav>

    <div class="account"
         th:if="${#authorization.expression('isAuthenticated()')}">

        <img class="avatar"
             th:src="${#authentication.principal.images != null
                and !#strings.isEmpty(#authentication.principal.images)
                ? #authentication.principal.images
                : '/images/avatar-default.svg'}"
             alt="Avatar">

        <div class="user-info">
            <strong th:text="${#authentication.principal.fullName}">
                Nguyễn Văn A
            </strong>

            <span th:text="'@' + ${#authentication.principal.username}">
                @user01
            </span>
        </div>

        <form th:action="@{/logout}"
              method="post">

            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}">

            <button class="logout-button" type="submit">
                Đăng xuất
            </button>
        </form>
    </div>

    <div class="account"
         th:unless="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/login}">
            Đăng nhập
        </a>
    </div>

</header>

</body>
</html>
