<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Trang chủ</title>
</head>
<body>

<main layout:fragment="content">

    <section class="panel">
        <h1>Trang chủ UTEShop</h1>
        <p>
            Xin chào
            <strong th:text="${user.fullName}">User</strong>
        </p>
        <p>Username: <span th:text="${user.username}">user01</span></p>
        <p>Email: <span th:text="${user.email}">user01@gmail.com</span></p>
        <p>Role: <span th:text="${user.roleName}">ROLE_USER</span></p>
    </section>

</main>

</body>
</html>
